<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.UIWidget"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".example.ninegrid.NineGridActivity"
            android:exported="false" />
        <activity
            android:name=".example.pk.PkActivity"
            android:exported="false" />
        <activity
            android:name=".example.turntable.TurntableActivity"
            android:exported="false" />
        <activity
            android:name=".example.calendar.CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".example.numberroll.NumberRollActivity"
            android:exported="false" />
        <activity android:name="com.hearthappy.framework.example.waveswitch.WaveSwitchImageActivity" />
    </application>

</manifest>